/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.bikestore-header-color{
    background-color: #264653;
}
.bikestore-primary-color{
    background-color: #E76F51;
}

.bikestore-text-color{
    color: #E76F51;
}
.bikestore-paragraph-color{
    color: #E0E0E0;
    font-size: 16px;
}
.bikestore-border-color{
    border-color: #E76F51;
}
.bikestore-secondary-paragraph-color{
    color: #6C6C6C;
}
.bikestore-third-color{
    color: #23A6F0;
}

.bikestore-fourth-color{
    color: #7E848C;
}

